In [4]:
# Import the dependencies
import sqlalchemy
import pandas as pd
from flask import Flask, jsonify

# Python SQL toolkit and Object Relational Mapper
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from pathlib import Path

In [5]:
# Database Setup

engine = create_engine("sqlite:///Resources/Obesity_db.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

#test view all classes found by automap
Base.classes.keys()

[]

In [6]:
conn = engine.connect()

#populate obesity table
Obesity = pd.read_sql("SELECT * FROM Obesity", conn)

In [7]:
Obesity.head()

        State Prevalence        95% CI
0     Alabama       39.9  (37.9, 41.8)
1      Alaska       33.5  (31.5, 35.5)
2     Arizona       31.3  (30.0, 32.6)
3    Arkansas       38.7  (36.6, 40.8)
4  California       27.6  (26.1, 29.1)

In [8]:
#populate fastfood table
Fastfood = pd.read_sql("SELECT * FROM Fastfood", conn)
Fastfood.head()

,State,All fast food restaurants,Full-service restaurants,Subway,Starbucks,McDonalds,Dunkin Donut,Burger King,Taco Bell,Dominos,Wendys,Dairy Queen
0,Alabama,81.7,57.6,8.2,1.8,5.0,0.9,3.5,2.8,2.5,2.0,1.3
1,Alaska,61.9,78.7,7.2,6.6,4.2,0.3,1.1,2.1,1.4,1.2,0.7
2,Arizona,67.9,59.2,5.6,7.3,3.9,1.3,2.5,2.5,1.6,1.4,1.5
3,Arkansas,69.9,67.6,8.4,2.0,5.7,0.3,2.7,3.5,2.2,2.1,1.0
4,California,82.3,80.4,5.7,7.4,3.2,0.3,1.4,2.1,1.4,0.7,0.2

In [9]:
#verify tables in engine
inspector = inspect(engine)
inspector.get_table_names()

['fastfood', 'obesity']

In [ ]:
#verify data integrity by checking data types in fastfood table
columns_ff = inspector.get_columns('fastfood')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
#verify data integrity by checking data types in obesity table
columns_ob = inspector.get_columns('obesity')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
#create session from Python to the DB
session = Session(engine)

In [ ]:
#inner join for data cleanup
joined_table = pd.read_sql('Select fastfood.State, fastfood."All fast food restaurants", fastfood.Subway, fastfood.Starbucks, fastfood.McDonalds, fastfood."Dunkin Donut", fastfood."Burger King", fastfood."Taco Bell", fastfood.Dominos, fastfood.Wendys, fastfood."Dairy Queen", obesity.Prevalence, obesity."95% CI" from Fastfood INNER JOIN Obesity ON (Fastfood.State = Obesity.State)', conn)

In [ ]:
#preview data in joined_table
joined_table.head()

In [ ]:
#convert to json
json_table = joined_table.to_json()